ultralytics
albumentations
roboflow
opencv-python>=4.6.0,<5.0.0  # MUST uninstall opencv-python-headless after install (see setup.ps1)
matplotlib
seaborn
wandb
requests
tensorflow # Used for TFLite model inference on PC
python-dotenv
qrcode[pil]
